.container {
  display: inline-flex;
  padding: 1.125rem 2.125rem;
  align-items: center;
  font-weight: 700;
  gap: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  background-color: var(--generalDark);
  color: var(--generalLight);
  transition: all 0.3s ease-in-out;

  svg {
    path {
      fill: var(--generalLight);
    }
  }

  &.light {
    background-color: var(--generalLight);
    color: var(--generalDark);
    border-color: var(--generalDark);

    svg {
      path {
        fill: var(--generalDark);
      }
    }
  }
  &.red {
    background-color: var(--generalRed);
    color: var(--generalLight);
  }
  &.redOutline {
    background-color: var(--generalLight);
    color: var(--generalRed);
    border-color: var(--generalRed);

    svg {
      path {
        fill: var(--generalRed);
      }
    }
  }
  &.noborder {
    border-color: transparent;
  }

  @media (min-width: 769px) {
    &:hover {
      animation: 1s ease-in-out infinite scaleMoving;

      svg {
        animation: 1s ease-in-out infinite ArrowMove;
      }

      @keyframes ArrowMove {
        0%,
        100% {
          transform: translatex(0);
        }
        50% {
          transform: translatex(10px);
        }
      }

      @keyframes scaleMoving {
        0%,
        100% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
      }

      &.light {
        background-color: var(--generalDark);
        color: var(--generalLight);
        border-color: var(--generalLight);

        svg {
          path {
            fill: var(--generalLight);
          }
        }
      }
      &.red {
        background-color: var(--generalLight);
        color: var(--generalRed);
        border-color: var(--generalRed);

        svg {
          path {
            fill: var(--generalLight);
          }
        }
      }
      &.redOutline {
        background-color: var(--generalRed);
        color: var(--generalLight);

        svg {
          path {
            fill: var(--generalLight);
          }
        }
      }
      &.dark {
        border-color: var(--generalDark);
        background-color: var(--generalLight);
        color: var(--generalDark);
      }
    }
  }
}
