.container {
  padding: 0 var(--maxContainerWidth);

  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  column-gap: 1.975rem;

  .images {
    background-image: url('/assets/singersImages.png');
    background-size: cover;
    flex-grow: 1 0;
    max-width: 41.875rem;
    width: 100%;
    height: 100%;
    aspect-ratio: 670/712;
  }

  .content {
    max-width: 29.375rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: flex-start;

    div {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  @media (max-width: 950px) {
    flex-wrap: wrap-reverse;
  }
}
