.container {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  gap: 0.5rem;
  img {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
}
