.container {
  padding: 2rem var(--maxContainerWidth);
  width: 100%;
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (min-width: '769px') {
    align-items: center;
  }
}
