.container {
  padding: 2rem var(--maxContainerWidth);
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 2;

  &.activatedHeaderBg {
    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--adicional7);
    }
  }
  .iconMobile {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

    height: 1.2rem;
    position: relative;
    cursor: pointer;
    transition: var(--animationSettings);

    &:hover {
      transform: scale(1.1);
    }
    &.MenuOpen {
      .line {
        background-color: transparent;
        &::before {
          transform: rotate(45deg);
          top: 0.75rem;
        }

        &::after {
          transform: rotate(-45deg);
          top: 0.75rem;
        }
      }
    }
    .line {
      background-color: var(--generalLight);
      width: 2.5rem;
      height: 0.3rem;
      border-radius: 0.3rem;
      transition: var(--animationSettings);

      &::before,
      &::after {
        content: '';
        background-color: var(--generalLight);
        width: 2.5rem;
        height: 0.3rem;
        border-radius: inherit;
        position: absolute;
        transition: 0.4s;
      }
      &::before {
        top: 100%;
      }
      &::after {
        bottom: 100%;
      }
    }
  }

  @media (min-width: '769px') {
    align-items: center;
  }
  @media (min-width: '1050px') {
    .iconMobile {
      display: none;
    }
  }
}
