.container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  background-image: linear-gradient(
    180deg,
    rgba(252, 82, 82, 0.05) 0%,
    rgba(252, 82, 82, 0) 100%
  );
  padding: 10rem 0;
  position: relative;

  .iconinstagram {
    position: absolute;
    top: 2.25rem;
    right: calc(50% + 2.25rem);
    opacity: 0.1;
  }

  h2 {
    padding: 0 var(--maxContainerWidth);
  }
  & figure:nth-child(2),
  & figure:last-child {
    filter: opacity(0.5);
  }

  .media {
    display: grid;
    grid-template-columns: repeat(5, min(100%, 23.125rem));
    justify-content: center;
    gap: 1.875rem;
    overflow-x: hidden;
    position: relative;

    .postCarrosselControl {
      position: absolute;
      display: flex;
      justify-content: center;
      transform: translateY(-50%);
      top: 10rem;
      z-index: 1;
      padding: 1rem;
      left: 0;
      right: 0;
      gap: 80.73%;
      padding: 0 2rem;
    }

    .instashot {
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      img {
        aspect-ratio: 1;
        user-select: none;
      }

      .titleTags {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .likesComments {
          display: inline-flex;
          gap: 2.5rem;
          user-select: none;
        }

        p {
          height: 100%;
          opacity: 0.5;
        }
      }
    }
  }

  @media (min-width: 450px) {
    .media {
      .postCarrosselControl {
        top: 11.5625rem;
      }
      .instashot {
        padding: 0;
      }
    }
  }
}
