.container {
  display: flex;
  flex-direction: column;
  padding: 0 (max((100% - 120rem)/2) 0);
  column-gap: 8.125rem;
  position: relative;

  .left {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    flex: 1;
    background-color: var(--generalDark);
    position: relative;
    max-width: 52.8125rem;
    padding: 3rem 1rem 5rem;

    .effect {
      position: absolute;
      width: 26.63%;
      aspect-ratio: 1;
      z-index: 1;
      right: 0;
      bottom: 0;
      g {
        mix-blend-mode: overlay;
      }
    }

    .contactDetails {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      span {
        display: inline-flex;
        gap: 0.5rem;
      }
    }
  }

  .form {
    padding: 3rem var(--maxContainerWidth);
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    h3 {
      color: var(--generalDark);
      font-size: 1.5rem;
    }

    .containerField {
      display: flex;
      flex-direction: column;
      gap: 1.875rem;
    }

    button {
      display: flex;
      padding: 1.125rem 2.125rem;
      justify-content: center;
      align-items: center;
      gap: 0.75rem;

      border-radius: 0.5rem;
      border: 0;
      color: var(--generalLight);
      font-weight: 700;
      background-color: var(--generalRed);
      transition: var(--animationSettings);
    }
  }
  .shapeEffect {
    display: none;
  }

  @media (min-width: 850px) {
    flex-direction: row;
    .left {
      gap: 8rem;
      padding: 7.5rem 0 17.875rem 5rem;
    }
    .form {
      padding: 8.6875rem 0;
      margin-right: 2rem;
      max-width: 35.625rem;
      button:hover {
        transform: scale(1.1);
      }
    }
    .shapeEffect {
      display: block;
      position: absolute;
      right: 3.5rem;
      bottom: 0;
      g {
        mix-blend-mode: overlay;
      }
    }
  }
}
