.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.3125rem;

  padding: 8rem var(--maxContainerWidth) 8rem;

  h2 {
    text-align: center;
  }

  .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    .row {
      display: flex;

      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 3rem;
    }
  }

  @media (min-width: 900px) {
    padding: 13.0625rem var(--maxContainerWidth) 13.8125rem;

    & > a {
      margin-top: 1.25rem;
    }

    .logos {
      gap: 5rem;

      .row {
        justify-content: space-between;
      }
    }
  }
}
